---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -2
ColumnLimit: 100

IncludeBlocks: Preserve

NamespaceIndentation: All

# Aligns too much to the right if =BeforeColon
BreakInheritanceList: BeforeComma

BreakAfterAttributes: Never
BreakTemplateDeclarations: No
# clang-format 21
# BreakBeforeTemplateClosers: true

BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLine

# clang-format 19
BreakAfterReturnType: ExceptShortType

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 6

AllowShortIfStatementsOnASingleLine: WithoutElse
BracedInitializerIndentWidth: 6
BreakBinaryOperations: RespectPrecedence
BreakBeforeBinaryOperators: NonAssignment
SpacesBeforeTrailingComments: 1
...
